name: revision
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.7.0


dependencies:
  flutter:
    sdk: flutter
  json_annotation: ^4.9.0
  http: ^1.6.0

 
  cupertino_icons: ^1.0.8
  get: ^4.6.6
  provider: ^6.1.5+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  json_serializable: ^6.9.5
  build_runner:
  flutter_lints: ^5.0.0


flutter:
   uses-material-design: true

   assets:
    - assets/images/

  




 

